:root {
  --light: #f8f8f8;
  --dark: #707070;
  --light-blue: #1792d2;
  --dark-blue: #143774;
}
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@500&display=swap");

h1 {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 3.375rem;
  color: var(--dark-blue);
  margin: 0;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.navigation {
  font-size: 1rem;
}
.current-page {
  border-bottom: 1px solid var(--dark);
}
.current-page:hover {
  color: var(--dark);
}

.subtitle {
  font-weight: 700;
  color: var(--light-blue);
  font-size: 0.75rem;
  margin: 0;
}

header {
  background: var(--light);
  padding: 2em 0;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: var(--light-blue);
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }
  header {
    text-align: center;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: 0.5em 0;
  }
}
